:root {
  --background: white;
  --secondary: #0F1626;
  --details: #FF533D;
  /*--details-app:#5c0011;*/
  --details-app:#1a1a1a;
  --text: #F5F5F5;
  --text1: #8c8c8c;
  --test1: red;
  --test2: blue;
  --test3: yellow;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.greetings {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: right;
}
.App-link {
  color: var(--details);
}

.content-color1 {
  background-color: var(--test1);
}
.content-color2 {
  background-color: var(--test2);
}
.content-color3 {
  background-color: var(--test3);
}

/*===========================================================*/

.header{
  color: var(--text) !important;
  background-color: var(--details-app) !important;
}
.header-logo{
  height: 60px;
  cursor: pointer !important;
}
.header-search{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.header-greetings{
  display: flex !important;
  justify-content: center;
  font-size: 16px;
  margin-top: 5.5%;
}
.clear-icon {
  color: var(--secondary);
  top: -3px;
  position: absolute;
  z-index: 9999;
  right: 60px;
  bottom: 0;
  cursor: pointer;
}

/*===========================================================*/

.content {
  /*background-color: var(--background) !important;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--text1) !important;
}
.content-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url('./assets/img/fondo.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: var(--text1) !important;
}
.footer {
  color: var(--text) !important;
  background-color: var(--details-app) !important;
}
.footer-tag{
  margin-left: 70%;
}
.product-card{
  background-color: var(--secondary);
  margin: 10px;
  padding: 15px;
}

/*===========================================================*/

.imagen-carousel{
  width: 100%;
  border: 1px solid black;
  height: 430px;
}

/*===========================================================*/

.descriptions-product{
  border: 2px solid #f0f0f0;
  width: 90%;
  margin-left: 5% !important;
  background: #fafafa;
}

.img-product-info{
  border: 1px solid #f0f0f0;
  width: 100%;
}

.col-img-product-info{
  margin-top: 1%;
  margin-left: 1%;
}

.descriptions-product-name {
  margin-left: 10%;
  margin-top: 5%;
}

.descriptions-product-descriptions{
  margin-left: 10%;
  margin-top: 3%;
}

.descriptions-product-tag{
  margin-left: 10% !important;
  margin-top: 2% !important;
}

.descriptions-product-button-comprar{
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 7px !important;
  width: 45%;
  margin-bottom: 5%;
}

/*==========================================================*/

.cartDestails{
  padding: 15px;
  margin: 20px;
  background: #fafafa;
  /* margin-left: -25%; */
}

.inputCartDetails{
  width: 40% !important;
  border-radius: 7px !important;
}

.typeDetails{
  margin-top: 15px;
  margin-right: 15px;
}

.buttonDetails{
  margin-left: 35%;
  width: 30%;
  border-radius: 7px !important;
}

/*===========================================================*/

.keepShopping-link {
  display: flex;
  justify-content: center;
  color: var(--secondary);
}